[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "numpy>=2.3.2",
    "plotly>=6.2.0",
    "requests>=2.32.4",
    "streamlit>=1.47.1",
]
